<template>
    <div class="main-layout">

{{message}}
    </div>
</template>

<script>
export default {
  data(){
      return {
          message: "Hello word"
      }
  }
}
</script>

<style scoped>

</style>
